/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(150, 62%, 48%);
	--white-color: hsl(150, 62%, 96%);
	--body-color: hsl(150, 100%, 98%);

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Unbounded", sans-serif;
	--h3-font-size: 1.25rem;
	--small-font-size: .875rem;
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: var(--body-color);
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*=============== CARD ===============*/
.card {
	max-width: 1120px;
	height: 100vh;
	margin-inline: auto;
	display: grid;
	place-items: center;
}

.card__article {
	position: relative;
	width: 320px;
	box-shadow: 0 8px 24px hsla(150, 62%, 16%, .2);
	border: 8px solid var(--white-color);
	border-radius: 5.5rem;
	padding: 2rem 1rem 1.5rem;
	text-align: center;
	overflow: hidden;
}

.card__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
	transition: transform .4s;
}

.card__data, 
.card__actions {
	position: relative;
	z-index: 10;
	color: var(--white-color);
}

/* Show social */


/* Show icon */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
